/* Container principal des articles */
main {
  column-count: 2;
  column-gap: 10px;
  max-width: 1400px;
  margin: 40px auto;
  padding: 15%;
}

/* Container des articles */
.item {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.item img,
.item video {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.article-card {
  padding: 5% 0;
  padding-left: 3%;
  padding-right: 3%;
}

.article-card img,
.article-card iframe {
  width: 100%;
  height: 300px;
  margin: 0 auto 15px auto;
  border-radius: 8px;
  display: block;
}

.article-card iframe {
  border: none;
}

/* Date de publication */
.article-card > :nth-of-type(2) {
  font-size: 14px;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}

/* Responsive - Mobile */
@media (max-width: 768px) {
  main {
    column-count: 1;
    padding: 0 20px;
  }

  .item {
    padding: 0 20px;
    margin: 25px auto;
  }

  .article-card {
    padding: 15px;
  }

  .article-card img,
  .article-card iframe {
    width: 100%;
  }
}

