main {
  display: flex;   
  flex-wrap: wrap;      
  gap: 20px; 
}
.article-card{
flex: 0 0 48%;    
  display: flex;        
  flex-direction: column; 
  align-items: center;   
  box-sizing: border-box;
}