/*Page catégorie*/
/* Bande image */
.bande {
  position: relative;
  width: 85%;
  height: 275px;
  margin: 70px auto;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-decoration: none;
}

.bande strong {
  position: relative;
  color: white;
  font-size: 36px;
  text-align: center;
  z-index: 1;
}

/* Images arrière plan */
.astronomie {
  background-image: url("../images/LUNE_24MM\(1\).jpg");
}

.paysages {
  background-image: url("../images/LUNE_FOYER.jpg");
}

.techniques {
  background-image: url("../images/06_05_2012.jpg");
}

/*Page galerie*/
.galerie {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 40px;
}


.photo-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.photo-item p {
  text-align: center;
  margin-top: 8px;
  color: white;
}

/* OVERLAY */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;

  opacity: 0;
  transition: opacity 0.4s ease;
}

.overlay p {
  font-size: 0.95rem;
  opacity: 0.85;
}


/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px;
  padding: 40px;
}


/* CARD */
.card {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
}

/* IMAGE */
.card img {
  max-height: 350px;
  display: block;
  transition: filter 0.4s ease, transform 0.4s ease;
  object-fit: fill;
}

/* HOVER */
.card:hover img {
  filter: brightness(0.5);
  transform: scale(1.05);
}


.card:hover .overlay {
  opacity: 1;
}


/* RESPONSIVE */
@media (max-width: 768px) {
  .card.wide {
    grid-column: span 1;
  }
}

/*Page sous-catégorie*/
.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  padding: 40px;
}

/* Carte */
.category-card {
  position: relative;
  display: block;
  height: 250px;
  overflow: hidden;
  text-decoration: none;
}

/* Titre */
.category-title {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  background: rgba(0, 0, 0, 0.45);
}